
<h1>Menu</h1>
<br>
<div id="opciones">
    <p (click)="navegarListaAlumnos()">Buscar alumnos por curso</p>
    <br>
    <p (click)="navegarListaCursos()"> Buscar cursos de alumno</p>
    <br><br>
    <p (click)="navegarMatricular()"> Matricular alumno</p>
    <br><br>
    <p (click)="navegarMatriculasFechas()"> Buscar matriculas en rango fechas</p>
    <br><br>
    <a href="http://localhost:8080/15_formacion_triple_entidad/getAltaAlumno">Alta de  alumno</a>
    <br><br>
    <a href="http://localhost:8080/15_formacion_triple_entidad/getAltaCurso">Alta de curso</a>
    <br>
</div>
