<div class="container">

  <select [(ngModel)]="cursoActual" name="cursos" id="cursos"  *ngFor="let c of cursos">
    <option value="{{c}}">{{c}}</option>
  </select>
  <br><br>
  
  <input type="button" (click)="busqueda()" value="Buscar">
  <table border="1" *ngIf="alumnos.length > 0">
    <thead><tr><th>Alumno</th><th>Curso</th><th>Nota</th></tr></thead>
    <tbody >
      <tr *ngFor="let a of alumnos">
        <td>{{a.nombre}}</td><td>{{a.curso}}</td><td>{{a.nota}}</td>
      </tr>
    </tbody>

  </table>

  <br> <br>
  <a href="inicio.jsp">Volver</a>