
<input type="date" value="BuscadorAlumnosCurso" [(ngModel)]="fechaIni" />

<input type="date" value="BuscadorAlumnosCurso" [(ngModel)]="fechaFin" />

<input type="button" value="Buscador Matriculas Por Rango de Fecha" (click)="buscarMovimientos()" />

<br> <br>
Saldo: <input type="number" [(ngModel)] = "saldo" readonly>

<h1>Movimientos</h1>
    <table border="1" *ngIf="movimientos.length > 0">
      <thead>
        <tr>
          <th>Cantidad</th>
          <th>Operación</th>
          <th>Fecha</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let m of movimientos">
          <td>{{m.cantidad}}</td>
          <td>{{m.operacion}}</td>
          <td>{{m.fecha}}</td>
        </tr>
      </tbody>
    </table>

    <br><br>

    <a href="http://localhost:8080/16_ejercicio_cajero/menu.jsp"> Volver</a>