<div class="container">
  <div id="buscador">


    <h1>Alumnos</h1>
    <select [(ngModel)]="alumnoActual">
      <option name="alumnos" id="alumnos" *ngFor="let a of alumnos" value="{{a.usuario}}">{{a.usuario}}</option>
    </select>
    <input type="button" (click)="busqueda()" value="Buscar">
    <br><br>

    <h1>Cursos</h1>
    <table border="1" *ngIf="cursos.length > 0">
      <thead>
        <tr>
          <th>Curso</th>
          <th>Duracion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of cursos">
          <td>{{c.nombre}}</td>
          <td>{{c.duracion}}</td>
        </tr>
      </tbody>

    </table>

    <br> <br>

    <p (click)="navegarMenu()">Volver</p>
  </div>
