<div class="container">
  <div id="buscador">
    <h1>Cursos</h1>
    <select [(ngModel)]="cursoActual">
      <option name="cursos" id="cursos" *ngFor="let c of cursos" value="{{c.nombre}}">{{c.nombre}}</option>
    </select>
    <input type="button" (click)="busqueda()" value="Buscar">
    <br><br>

    <h1>Alumnos</h1>
    <table border="1" *ngIf="alumnos.length > 0">
      <thead>
        <tr>
          <th>Alumno</th>
          <th>Usuario</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of alumnos">
          <td>{{a.nombre}}</td>
          <td>{{a.usuario}}</td>
        </tr>
      </tbody>

    </table>

    <br> <br>

    <p (click)="navegarMenu()">Volver</p>
  </div>
